.camouforms-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px #c3c3c3;
}

.camouforms-form .cmfs-field-wrapper:not(:last-child) {
    margin-bottom: 30px;
}

.camouforms-form label {
    vertical-align: baseline;
}

.camouforms-form .label-inner-wrapper {
    margin-bottom: 5px;
    display: block;
}

.camouforms-form .cmfs-main-label {
    font-weight: bold;
}

.cmfs-hidden {
    display: none;
}

.cmfs-required-icon {
    color: #ff0000;
}

/*********************************
* One Line Text
********************************/

.camouforms-form .form-element-one-line-text {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #fff;
}

/*********************************
* Paragraph
********************************/
.camouforms-form .form-element-paragraph {
    width: 100%;
    height: 160px;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #fff;
}

/*******************************
* Email
********************************/
.camouforms-form .form-element-email {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #fff;
}

/*******************************
* Date
********************************/
.camouforms-form .form-element-date {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #fff;
}

/*******************************
* Time
********************************/
.camouforms-form .form-element-time {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #fff;
}

/*******************************
* Checkbox & Radio
********************************/
.camouforms-form fieldset {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    border: none;
}

.camouforms-form legend {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    background-color: #fff;
    border: none;
    font-weight: normal;
}

.camouforms-form .option-item-section {
    margin-top: 5px;
}

.camouforms-form .option-item-section label {
    margin-left: 5px;
    display: inline;
}

.camouforms-form .option-item-section input[type="checkbox"],
.camouforms-form .option-item-section input[type="radio"] {
    margin-right: 0px;
}


/*******************************
* Select
********************************/
.camouforms-form .form-element-select {
    height: 40px;
    background-color: #f5f5f5;
}

/*******************************
* Submit
********************************/
.camouforms-form .form-element-button {
    padding: 10px 20px;
    background-color: #888;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    font-weight: normal;
}

.camouforms-form .form-element-button:hover {
    cursor: pointer;
    background-color: #aaa;
}

.camouforms-form .validation-error-section {
    color: #ff0000;
}

.camouforms-form .success-submission-response {
    text-align: center;
}

.camouforms-form .success-submission-response-message,
.camouforms-form .success-submission-response-icon
{
    color: #18a118;
}

.camouforms-form .success-submission-response-icon {
}

.camouforms-form .fail-submission-response-message {
    color: #ff0000;
}

.camouforms-preview-form {
    margin: 50px auto;
    width: 400px;
}

.camouforms-preview-icon {
    position: fixed;
    top: 10px;
    left: 20px;
    padding: 5px 40px;
    background-color: #cecece;
    color: #6b6b6b;
    border-radius: 2px;
    box-shadow: 1px 1px 0px 0px #a1a1a1;
    font-size: 16px;
}

.camouforms-preview-form-name {
    width: 400px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 55px;
    left: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #555;
}


/*******************************
* Reflexive
********************************/

@media only screen
  and (max-device-width: 820px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .camouforms-form {
        width: 100%;
    }
}
